<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AsteroidField</key>
	<dict>
		<key>width</key>
		<integer>350</integer>
		<key>height</key>
		<integer>1300</integer>
	</dict>
	<key>StaticAsteroids</key>
	<array>
		<dict>
			<key>size</key>
			<integer>100</integer>
			<key>x</key>
			<integer>-100</integer>
			<key>y</key>
			<integer>-750</integer>
		</dict>
		<dict>
			<key>size</key>
			<integer>100</integer>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>-450</integer>
		</dict>
		<dict>
			<key>size</key>
			<integer>100</integer>
			<key>x</key>
			<integer>-80</integer>
			<key>y</key>
			<integer>-100</integer>
		</dict>
	</array>
	<key>StartPosition</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-1400</integer>
	</dict>
	<key>Environment</key>
	<dict>
		<key>width</key>
		<integer>300</integer>
		<key>height</key>
		<integer>4500</integer>
		<key>friction</key>
		<integer>1</integer>
		<key>elasticity</key>
		<real>0.1</real>
	</dict>
	<key>StartLine</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>50</integer>
	</dict>
	<key>EndPosition</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>4000</integer>
	</dict>
	<key>AsteroidShooters</key>
	<array>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>-1000</integer>
			<key>rotation</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>-250</integer>
			<key>rotation</key>
			<integer>90</integer>
		</dict>
	</array>
	<key>Fuel</key>
	<integer>15</integer>
</dict>
</plist>
