<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AsteroidField</key>
	<dict>
		<key>width</key>
		<integer>300</integer>
		<key>height</key>
		<integer>1500</integer>
	</dict>
	<key>StaticAsteroids</key>
	<array>
		<dict>
			<key>size</key>
			<integer>9</integer>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>size</key>
			<integer>9</integer>
			<key>x</key>
			<integer>-60</integer>
			<key>y</key>
			<integer>300</integer>
		</dict>
	</array>
	<key>StartPosition</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-700</integer>
	</dict>
	<key>Environment</key>
	<dict>
		<key>width</key>
		<integer>300</integer>
		<key>height</key>
		<integer>1800</integer>
		<key>friction</key>
		<integer>1</integer>
		<key>elasticity</key>
		<real>0.1</real>
	</dict>
	<key>StartLine</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>20</integer>
	</dict>
	<key>EndPosition</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1600</integer>
	</dict>
	<key>AsteroidShooters</key>
	<array/>
	<key>Background</key>
	<dict>
		<key>layer1</key>
		<string>bg_stars.png</string>
		<key>layer2</key>
		<string>space_confetti.png</string>
	</dict>
	<key>Fuel</key>
	<integer>5</integer>
</dict>
</plist>
